@model EmployeeManagementMVC.Models.EMPLOYEE
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>Your login ID is @Html.DisplayFor(model => model.EMPLOYEE_ID)</p>
</div>
