
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Employee Management Site </h1>

        <p>
            Click on the Register tab to create a new account.
        </p>

        <p>Click on the Login tab to login into account.</p>
    </div>
</div>

